<ion-content>
  <app-header></app-header>
  <div class="title-box">
    <app-title [title]="title"></app-title>
  </div>
  <ion-grid
    class="ion-margin-bottom ion-padding-bottom b-bottom  "
  >
    <ion-row class="ion-md-container ion-padding">
      <ion-col class="chat-box" size="12">
        <p>
          The <b>Arena Merchandising Team</b> has 40+ years of combined
          experience servicing a wide range of industries and products, but we
          love to make all kinds of
          <b>Bags, Cases, Pouches, & Ultralight Backpacks</b>. We know that
          every job is unique. No matter where you are in the development or
          process, our <b>Arena Sewing Specialists</b> are available to provide
          direction and answer any questions you have about materials, process
          and production costs. Below is a breakdown of our Production Process -
          Feel free to <span (click)="openChat(chat)">LIVE CHAT</span> with any
          questions.
        </p>
      </ion-col>
      <ion-col size="12">
        <ion-row class="badge-row ion-margin-top">
          <ion-col size="4" class="ion-text-center">
            <img src="../../../assets/images/11.png" alt="" />
          </ion-col>
          <ion-col size="12" sizeMd="8">
            <h4>RESEARCH & PLANNING</h4>
            <p>
              Speaking with a member of our team is the first step in the
              process. Once we've determined how far along you are with designs
              and prototypes, we'll then develop a road map for production. We
              will advise and direct you through pattern making and materials
              sourcing. From there, we'll have everything we need to complete a
              production ready sample and formalize a Bill of Materials and the
              costs of production.
              <br />
              Depending on what stage your project is in, research and planning
              could take 2-3 weeks.
            </p>
          </ion-col>
        </ion-row>
        <ion-row class="badge-row ion-margin-bottom ion-margin-top">
          <ion-col size="4" class="ion-text-center">
            <img src="../../../assets/images/22.png" alt="" />
          </ion-col>
          <ion-col size="12" sizeMd="8">
            <h4>DEVELOPMENT & TESTING</h4>
            <p>
              New product samples can take from 2-4 weeks to perfect.
              <br />
              Once you've received your production sample, we’ll begin working
              on final revisions and adjustments. Changing your mind at this
              stage is fairly common. If we're needing to rework the patterns
              and designs, additional charges will apply.
            </p>
          </ion-col>
        </ion-row>
        <ion-row class="badge-row ion-margin-bottom ion-margin-top">
          <ion-col size="4" class="ion-text-center">
            <img src="../../../assets/images/33.png" alt="" />
          </ion-col>
          <ion-col size="12" sizeMd="8">
            <h4>BULK PRODUCTION</h4>
            <p>
              Scheduling the production run so that we are able to meet your
              deadlines happens next. We can coordinate the material purchases
              and shipments for you or you can manage the process yourself. If
              Arena handles this step on your behalf, we will add an additional
              25% handling fee to the wholesale cost our vendors charge for each
              component or fabric roll.
            </p>
          </ion-col>
        </ion-row>
        <ion-row class="badge-row ion-margin-bottom ion-margin-top">
          <ion-col size="4" class="ion-text-center">
            <img src="../../../assets/images/44.png" alt="" />
          </ion-col>
          <ion-col size="12" sizeMd="8">
            <h4>MATERIALS & PLANNING</h4>
            <p>
              Upon arrival to our facility, all materials are counted,
              cataloged, inventoried and monitored throughout the production and
              storage process. We carefully check all shipments for consistency,
              damage, defects and shortage.
            </p>
          </ion-col>
        </ion-row>
        <ion-row class="badge-row ion-margin-bottom ion-margin-top">
          <ion-col size="4" class="ion-text-center">
            <img src="../../../assets/images/55.png" alt="" />
          </ion-col>
          <ion-col size="12" sizeMd="8">
            <h4>MANUFACTURING</h4>
            <p>
              Orders are placed on our floor for production only after all
              components and materials are received and inventoried. This
              ensures a smooth and uninterrupted production process which is
              essential to guaranteeing an efficient and accurate service. Your
              product will be inspected at each stage to ensure we're complying
              with your expectation.
            </p>
          </ion-col>
        </ion-row>
        <ion-row class="badge-row ion-margin-bottom ion-margin-top">
          <ion-col size="4" class="ion-text-center">
            <img src="../../../assets/images/66.png" alt="" />
          </ion-col>
          <ion-col size="12" sizeMd="8">
            <h4>PACKAGING & FULFILLMENT</h4>
            <p>
              Arena can pack and drop-ship bulk orders and ensure your cartons
              or pallets arrive, well packed and on-time. In some cases, Arena
              can support FBA prep, packaging, fulfillment and storage. This
              requires a more detailed conversation with your Arena rep.
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col size="12">
      <div class="img-cover">
        <h1 class="ion-text-center">
          "OUR HIGH QUALITY STANDARDS ARE DRIVEN BY OUR COMMITMENT TO LEAN
          MANUFACTURING AND A PURSUIT FOR PERFECTION"
        </h1>
      </div>
    </ion-col>
  </ion-row>
  <ion-grid
    class="ion-margin-bottom ion-padding-bottom b-bottom  ion-md-container"
  >
    <ion-row class="ion-md-container ion-padding">
      <ion-col class="ion-text-center" size="12" sizeMd="4">
        <ion-title>ROLL GOODS</ion-title>
        <img
          class="ion-margin-top
        ion-margin-bottom"
          src="../../../assets/images/1.jpg"
        />
        <p>
          We use and stock thousands of different types of fabrics that come off
          a roll.
        </p> </ion-col
      ><ion-col class="ion-text-center" size="12" sizeMd="4">
        <ion-title>DIE CUTTING</ion-title>
        <img
          class="ion-margin-top
        ion-margin-bottom"
          src="../../../assets/images/2.jpg"
        />
        <p>
          Increases cutting efficiency and uniformity for your components.
        </p> </ion-col
      ><ion-col class="ion-text-center" size="12" sizeMd="4">
        <ion-title>NARROW GOODS </ion-title>
        <img
          class="ion-margin-top
        ion-margin-bottom"
          src="../../../assets/images/3.jpg"
        />
        <p>
          Products usually require smaller quantities of these materials, placed
          in specific locations.
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-container ion-padding">
      <ion-col class="ion-text-center" size="12" offsetMd="2" sizeMd="4">
        <ion-title>STACK CUTTING </ion-title>
        <img
          class="ion-margin-top
        ion-margin-bottom"
          src="../../../assets/images/4.jpg"
        />
        <p>
          Stack cutting enables us to cut multiple layers simultaneously and
          maximize material yields.
        </p>
      </ion-col>
      <ion-col class="ion-text-center" size="12" sizeMd="4">
        <ion-title>MATERIAL PREPARATION </ion-title>
        <img
          class="ion-margin-top
        ion-margin-bottom"
          src="../../../assets/images/5.jpg"
        />
        <p>
          We prep and inventory all components before sewing to ensure your
          project is completed correctly and on time.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>

  <app-chat #chat></app-chat>
</ion-content>
