.b-bottom {
  // padding: 3.8rem 0 2.3rem;
  border-bottom: 1px solid #fafbfc;
}

.b-top {
  // padding: 3.8rem 0 2.3rem;
  border-top: 1px solid #fafbfc;
}

.b-left {
  // padding: 3.8rem 0 2.3rem;
  border-left: 1px solid #fafbfc;
}

.b-right {
  // padding: 3.8rem 0 2.3rem;
  border-right: 1px solid #fafbfc;
}

.border-left {
  border-left: 1px solid #fafbfc;
}

.border-right {
  border-right: 1px solid #fafbfc;
}

.border-bottom {
  border-bottom: 1px solid #fafbfc;
}

.border-top {
  border-top: 1px solid #fafbfc;
}
